include README.txt
include LICENSE.txt
include setup.py
include scripts/*
include src/*
include stis_cti/*.py
exclude stis_cti/available_cpu_count.py
recursive-include stis_cti/data *.fits
include doc/*.rst
include doc/*.py
include doc/make.bat
include doc/Makefile
include doc/*.png
global-exclude *.pyc
exclude stis_cti/version.py
exclude stis_cti/_version.py
