include README.txt
include LICENSE.txt
include setup.py
include scripts/*
include src/*
include stis_cti/*.py
exclude stis_cti/available_cpu_count.py
include stis_cti/data/a01_stis_pcte.fits
include doc/*.rst
include doc/*.py
include doc/make.bat
include doc/Makefile
include doc/*.png
global-exclude *.pyc